# ----------------------
# Flask
# ----------------------
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
MySQL
flask_mysqldb


# ----------------------
# Production Server
# ----------------------
gunicorn


